/* navbar begin */
.nav-item{
   font-family: 'Roboto', sans-serif;
    
}

.navbar{
     margin-top: -1px;  
    /* border-bottom: 1px solid rgb(31, 105, 165); */
     padding-left: 46rem;
}
/* navbar end */

.link{
   position: relative;
   bottom: 40%;
   right: 3.5%;
}

.link2{
   position: relative;
   bottom: 20%;
   right: 6.6%;
}

.link3{
   position: relative;
   top: 930%;
   left: 38%;
   
}

/* Hover effect begin */
.content{
   position: absolute;
   top: 45%;
   left:50%;
   transform:translate(-50%, -50%);
   color: #fff;
   font-size: 28px;
   font-family: 'Roboto Slab', serif;
   text-shadow: 1px 1px rgb(0, 0, 0);
}
.gameimage1 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(26, 140, 160, 0.466);
}
.gameimage2 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(237, 238, 236, 0.301);
}
.gameimage3 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(49, 59, 29, 0.493);
}
.gameimage4 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(205, 240, 139, 0.342);
}
.gameimage5 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(24, 16, 92, 0.397);
}
.gameimage6 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(5, 77, 73, 0.356);
}
.gameimage7 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(151, 47, 6, 0.295);
}
.gameimage8 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(125, 214, 90, 0.315);
}
.gameimage9 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(63, 14, 5, 0.466);
}
.gameimage10 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(63, 33, 15, 0.466);
}
.gameimage11 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(129, 163, 35, 0.295);
}
.gameimage12 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(174, 175, 175, 0.295);
}
.gameimage13 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(208, 163, 228, 0.288);
}
.gameimage14 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(10, 10, 10, 0.596);
}
.gameimage15 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(25, 87, 17, 0.322);
}
.gameimage16 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(4, 143, 108, 0.466);
}
.gameimage17 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(243, 7, 7, 0.205);
}
.gameimage18 .overlay{
   position:absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background: rgba(145, 10, 111, 0.26);
}
/* Hover effect end */

 .dave {
   padding-left: 42.5%;
   padding-top: 4%;   
}  
/* Portfolio Begin */

.mygames{
   position: absolute;
   right: 36%;
   bottom: 75%;
   color: rgb(255, 255, 254);
   font-family: 'Bungee Shade', cursive;
    letter-spacing: 1px;
    padding: 1rem 5rem;
    text-shadow: 1px 1px rgb(0, 0, 0);
    
}

.gameimage1 {
   position: absolute;
    margin-top: 35%;
    left: 18%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.gameimage1:hover .overlay{
   opacity: 1;
}

.gameimage2{
   position: absolute;
    margin-top: 35%;
    left: 50%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0); 
}
.gameimage2:hover .overlay{
   opacity: 1;
}

.gameimage3{
   position: absolute;
    margin-top: 10%;
    left: 18%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
   }
   .gameimage3:hover .overlay{
      opacity: 1;
   }

   .gameimage4{
      position: absolute;
       margin-top: 10%;
       left: 50%;
       font-family: 'Roboto Slab', serif;
       color: rgb(255, 255, 255);
       text-shadow: 1px 1px rgb(0, 0, 0);
      }
      .gameimage4:hover .overlay{
         opacity: 1;
      }

      .gameimage5{
         position: absolute;
          margin-top: 60%;
          left: 18%;
          font-family: 'Roboto Slab', serif;
          color: rgb(255, 255, 255);
          text-shadow: 1px 1px rgb(0, 0, 0);
         }
         .gameimage5:hover .overlay{
            opacity: 1;
         }

         .gameimage6{
            position: absolute;
             margin-top: 60%;
             left: 50%;
             font-family: 'Roboto Slab', serif;
             color: rgb(255, 255, 255);
             text-shadow: 1px 1px rgb(0, 0, 0);
            }
            .gameimage6:hover .overlay{
               opacity: 1;
            }

            .gameimage7{
               position: absolute;
                margin-top: 85%;
                left: 18%;
                font-family: 'Roboto Slab', serif;
                color: rgb(255, 255, 255);
                text-shadow: 1px 1px rgb(0, 0, 0);
               }
               .gameimage7:hover .overlay{
                  opacity: 1;
               }

               .gameimage8{
                  position: absolute;
                   margin-top: 85%;
                   left: 50%;
                   font-family: 'Roboto Slab', serif;
                   color: rgb(255, 255, 255);
                   text-shadow: 1px 1px rgb(0, 0, 0);
                  }
                  .gameimage8:hover .overlay{
                     opacity: 1;
                  }

                  .gameimage9{
                     position: absolute;
                      margin-top: 110%;
                      left: 18%;
                      font-family: 'Roboto Slab', serif;
                      color: rgb(255, 255, 255);
                      text-shadow: 1px 1px rgb(0, 0, 0);
                     }
                     .gameimage9:hover .overlay{
                        opacity: 1;
                     }

                     .gameimage10{
                        position: absolute;
                         margin-top: 110%;
                         left: 50%;
                         font-family: 'Roboto Slab', serif;
                         color: rgb(255, 255, 255);
                         text-shadow: 1px 1px rgb(0, 0, 0);
                        }
                        .gameimage10:hover .overlay{
                           opacity: 1;
                        }

                        .gameimage11{
                           position: absolute;
                            margin-top: 135%;
                            left: 18%;
                            font-family: 'Roboto Slab', serif;
                            color: rgb(255, 255, 255);
                            text-shadow: 1px 1px rgb(0, 0, 0);
                           }
                           .gameimage11:hover .overlay{
                              opacity: 1;
                           }

                           .gameimage12{
                              position: absolute;
                               margin-top: 135%;
                               left: 50%;
                               font-family: 'Roboto Slab', serif;
                               color: rgb(255, 255, 255);
                               text-shadow: 1px 1px rgb(0, 0, 0);
                              }
                              .gameimage12:hover .overlay{
                                 opacity: 1;
                              }

                              .gameimage13{
                                 position: absolute;
                                  margin-top: 160%;
                                  left: 18%;
                                  font-family: 'Roboto Slab', serif;
                                  color: rgb(255, 255, 255);
                                  text-shadow: 1px 1px rgb(0, 0, 0);
                                 }
                                 .gameimage13:hover .overlay{
                                    opacity: 1;
                                 }

                                 .gameimage14{
                                    position: absolute;
                                     margin-top: 160%;
                                     left: 50%;
                                     font-family: 'Roboto Slab', serif;
                                     color: rgb(255, 255, 255);
                                     text-shadow: 1px 1px rgb(0, 0, 0);
                                    }
                                    .gameimage14:hover .overlay{
                                       opacity: 1;
                                    }

                                    .gameimage15{
                                       position: absolute;
                                        margin-top: 185%;
                                        left: 18%;
                                        font-family: 'Roboto Slab', serif;
                                        color: rgb(255, 255, 255);
                                        text-shadow: 1px 1px rgb(0, 0, 0);
                                       }
                                       .gameimage15:hover .overlay{
                                          opacity: 1;
                                       }

                                       .gameimage16{
                                          position: absolute;
                                           margin-top: 185%;
                                           left: 50%;
                                           font-family: 'Roboto Slab', serif;
                                           color: rgb(255, 255, 255);
                                           text-shadow: 1px 1px rgb(0, 0, 0);
                                          }
                                          .gameimage16:hover .overlay{
                                             opacity: 1;
                                          }

                                          .gameimage17{
                                             position: absolute;
                                              margin-top: 210%;
                                              left: 18%;
                                              font-family: 'Roboto Slab', serif;
                                              color: rgb(255, 255, 255);
                                              text-shadow: 1px 1px rgb(0, 0, 0);
                                             }
                                             .gameimage17:hover .overlay{
                                                opacity: 1;
                                             }
                                             .gameimage18{
                                                position: absolute;
                                                 margin-top: 210%;
                                                 left: 50%;
                                                 font-family: 'Roboto Slab', serif;
                                                 color: rgb(255, 255, 255);
                                                 text-shadow: 1px 1px rgb(0, 0, 0);
                                                }
                                                .gameimage18:hover .overlay{
                                                   opacity: 1;
                                                }
            /* Portfolio end */



.area {
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 50vh;
 }
 /* Important */
 .circles {
    position: absolute;
    width: 100%;
    height: 245%;
    overflow: hidden;
 }
 
 .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(247, 245, 245, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
 }
 
 .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
 }
 
 .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
 }
 
 .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
 }
 
 .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
 }
 
 .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
 }
 
 .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
 }
 
 .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
 }
 
 .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
 }
 
 .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
 }
 
 .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
 }
 
 @keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}
@keyframes animate {
    0% {
       transform: translateY(0) rotate(0deg);
       opacity: 1;
       border-radius: 30%;
    }
 
    100% {
       transform: translateY(-1000px) rotate(720deg);
       opacity: 0;
       border-radius: 100%;
    }
 }

body{
    width: 100%;
    height: 230vh;
    background: linear-gradient(-45deg, #ee7753, #100446, #020708, #2d0942);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    background-repeat:repeat;
      background-attachment: scroll;   
    /* background end */
}

.link  {
   padding-top: 50px;
  padding-left: 60px; 
  
}  

.footer {
   color: rgb(255, 255, 255);
   background-color:#212529;
   position: absolute;
 right: 0;
 bottom: -150%;
 left: 0;
 padding: -1rem;
 text-align: center;
}