/* navbar begin */
.nav-item{
    font-family: 'Roboto', sans-serif;
}

.navbar{
     margin-top: -5px;  
    /* border-bottom: 1px solid rgb(31, 105, 165); */
     padding-left: 46rem;
}
/* navbar end */
.logo2 { 
    padding-left: 1310px;
  padding-top: 620px;  
} 

 .arrow {
   position: relative; 
   padding-left: 49%;
   padding-top: 8%;  
}  
/* Portfolio Begin */

.mygames{
   position: absolute;
   left: 41%;
   top: 5%;
   color: rgb(252, 252, 252);
   font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
    padding: 1rem 5rem;
    font-size: 5rem;
    text-shadow: #030202;
    
}

.gameimage1{
   position: absolute;
    margin-top: 5%;
    left: 1%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.gameimage2{
   position: absolute;
    margin-top: 5%;
    left: 57%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0); 
}

.gameimage3{
   position: absolute;
    margin-top: 50%;
    left: 1%;
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
   }

   .gameimage4{
      position: absolute;
       margin-top: 50%;
       left: 57%;
       font-family: 'Roboto Slab', serif;
       color: rgb(255, 255, 255);
       text-shadow: 1px 1px rgb(0, 0, 0);
      }

      .gameimage5{
         position: absolute;
          margin-top: 80%;
          left: 1%;
          font-family: 'Roboto Slab', serif;
          color: rgb(255, 255, 255);
          text-shadow: 1px 1px rgb(0, 0, 0);
         }

         .gameimage6{
            position: absolute;
             margin-top: 80%;
             left: 57%;
             font-family: 'Roboto Slab', serif;
             color: rgb(255, 255, 255);
             text-shadow: 1px 1px rgb(0, 0, 0);
            }
            /* Portfolio end */

/* .info1{
   border: 3px solid #fff;
} 

.area {
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 50vh;
 }
 /* Important */
 .circles {
    position: absolute;
    width: 100%;
    height: 245%;
    overflow: hidden;
 }
 
 .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(247, 245, 245, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
 }
 
 .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
 }
 
 .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
 }
 
 .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
 }
 
 .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
 }
 
 .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
 }
 
 .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
 }
 
 .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
 }
 
 .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
 }
 
 .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
 }
 
 .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
 }
 
 @keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}
@keyframes animate {
    0% {
       transform: translateY(0) rotate(0deg);
       opacity: 1;
       border-radius: 30%;
    }
 
    100% {
       transform: translateY(-1000px) rotate(720deg);
       opacity: 0;
       border-radius: 100%;
    }
 }

body{
    width: 100%;
    height: 200vh;
    background: linear-gradient(-45deg, #ee7753, #100446, #020708, #2d0942);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    background-repeat:repeat;
      background-attachment: scroll;   
    /* background end */
}

.footer {
   color: rgb(255, 255, 255);
   background-color:#212529;
   position: absolute;
 right: 0;
 bottom: -150%;
 left: 0;
 padding: -1rem;
 text-align: center;
}